@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
body { padding-top: 10px; }
.container { max-width: 800px; margin: 0 auto; padding-left: 10px; padding-right: 10px;}
#content { padding-bottom: 10px; }
h1, h2, h3, h4, h5, p { font-family: 'Open Sans', 'Noto Sans KR', sans-serif; font-weight: 300; text-align: right; line-height: 80%;}
a:link, a:visited, a:hover, a:active { text-decoration: none; color: black;}
.menu { font-size: 1.5em; padding: 20px 20px 20px 0; }
p { line-height: 120%; }


/* booth.erb */
summary { text-align: left; font-weight: bold; font-size: 1.5em; }
.help { font-size: 1.2em; text-align: left;}
.account { font-size: 0.9em; font-style: italic; }
