<h1>>> 작품 목록 (13개)</h1>
<br/>

<details>
  <summary>이만기 vs 강호동</summary>
  <p class="help">
    <strong>이용 방법:</strong><br/>
    1. 저희가 준비한 휴대폰을 이용해서 경기 시작전 2~3분간 연습 조작을 합니다.<br/>
    2. 연습 조작이 끝나면 1대1 로봇시름할 준비를 합니다.<br/>
    3. 진행자가 경기 시작을 알리면, 1대1 경기 시작!
  </p>
  <p class="account">
    저희가 만든 로봇은 로봇씨름입니다.<br/>
    말 그대로 로봇이 1대1로 씨름을 하는 겁니다. <br/>
    책상 3~4개를 이용해서 씨름판을 올릴것이고 경기를 진행할겁니다. <br/>
    이용대상은 행신고등학교 학생 및 교직원들입니다. <br/>
    휴대폰을 이용해서 조작하는 것이여서 효과가 클것 같습니다.<br/>
    또한 평소에 로봇 조작을 좋아하는 학생들과 교직원들이 이 로봇 씨름을 체험해본다면 재밌어할 것 같아서 그런점이 기대가 됩니다.
  </p>
</details>
<p> - 10320 김민준, 11122 성현태</p>
<br/>

<details>
  <summary>밀어라 뽑기기계</summary>
  <p class="help">설명</p>
</details>
<p> - 10824 이진우, 20815 신성용</p>
<br/>

<details>
  <summary>석양이 진다</summary>
  <p class="help">
    <strong>이용 방법:</strong><br/>
    1. 터치센서를 누른다.<br/>
    2. 석양이 진다 소리가 나온다.<br/>
    3. 터치센서에서 손을 뗀다.<br/>
    4. 각 표적마다 2분의 1 확률로 표적이 내려간다.<br/>
    5. 총 장전소리가 나면서 표적이 다시 올라온다.
  </p>
  <p class="account">
    오버워치 영웅 맥크리총으로 다른 영웅을 처치하는걸 연상시켰다.<br/>
    오버워치 영웅을 맞춤으로써 흥미를 느낄 수 있다.<br/>
    행신고 학생들 중 평소 오버워치에 관심이 많은 학생들이 흥미를 느낄 수 있게 한다.
  </p>
</details>
<p> - 10920 고정민, 11019 강주혁</p>
<br/>

<details>
  <summary>가짜 월-E를 잡아라</summary>
  <p>설명</p>
</details>
<p> - 10718 김경덕, 21133 최성훈</p>
<br/>

<details>
  <summary>금손</summary>
  <p>설명</p>
</details>
<p> - 10819 김민석, 21106 노윤지</p>
<br/>

<details>
  <summary>코딧잭</summary>
  <p class="help">
    <strong>이용 방법:</strong><br/>
    1. 베팅할 금액을 고르고 딜 버튼을 누른다.<br/>
    2. 힛 또는 스탠드 버튼으로 블랙잭 게임을 진행한다.<br/>
    3. 승패에 따라 배당금을 얻거나 잃는다.<br/>
    4. 자산을 모두 잃으면 게임 오버
  </p>
  <p class="account">
    웹에서 구동되는 블랙잭이다.<br/>
    기본적인 룰은 블랙잭 게임과 동일하며, 인터넷 환경과 손만 있으면 누구든 간단하게 즐길 수 있는 게임이다.<br/>
    행신제에 참가하는 모두가 제한 없이 간단히 게임을 즐길 수 있었으면 하는 마음으로 만들었으며, 또한 도박의 위험성에 대해서도 경각심을 갖게 하려는 의도가 있다.
  </p>
</details>
<p> - 21233 전현승</p>
<br/>

<details>
  <summary>CODIT일레븐 ~2017~</summary>
  <p>설명</p>
</details>
<p> - 10624 박정우, 21019 김현수</p>
<br/>

<details>
  <summary>카트라이더</summary>
  <p>설명</p>
</details>
<p> - 20820 이상현, 21226 신진수</p>
<br/>

<details>
  <summary>Big Slot Land</summary>
  <p>설명</p>
</details>
<p> - 11032 최민영, 21128 이정철</p>
<br/>

<details>
  <summary>luuma</summary>
  <p>설명</p>
</details>
<p> - 10821 김영규, 10919 강진석</p>
<br/>

<details>
  <summary>코딧과피씨</summary>
  <p>설명</p>
</details>
<p> - 21117 문지현</p>
<br/>

<details>
  <summary>로봇을 이겨라</summary>
  <p>설명</p>
</details>
<p> - 21127 이재명</p>
<br/>

<details>
  <summary>HamsterMaze</summary>
  <p>설명</p>
</details>
<p> - 21127 이재명</p>
<br/>
