<script>

window.onload = function(){
      (function(){
        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onmessage = function(msg) { $("#title").text(msg)  }; })();
    }

</script>

<h3>CodIT 부스에 어서오세요!</h3>

<div style="background-color:lightgray">
  <br/>
  <h4>업데이트 내역 (실시간)</h4>
  <ul>
    <li>(timestamp) 더미</li>
    <li>(timestamp) 더미</li>
    <li>(timestamp) 더미</li>
    <li>(timestamp) 더미</li>
  </ul>
  <br/>
</div>

<br/>

<!-- 헬퍼클래스: "현재 CodIT 부스에서 재생되고 있는 배경음악입니다." -->
<div style="background-color:lightpink">
  <br/>
  <h4>(fa-volume-up) 현재 재생중인 음악: Airport</h4>
  <br/>
</div>

<!-- 메뉴 -->
<div class="pure-g">
  <a class="pure-u-1" href="/booth">
    <p class="menu"><i class="fa fa-check" aria-hidden="true"></i> 작품 소개</p>
  </a>
  <a class="pure-u-1" href="/dashboard">
    <p class="menu"><i class="fa fa-tachometer" aria-hidden="true"></i> 대시보드(실시간 랭킹)</p>
  </a>
  <a class="pure-u-1" href="/event">
    <p class="menu"><i class="fa fa-calendar" aria-hidden="true"></i> 이벤트</p>
  </a>
  <a class="pure-u-1" href="/aboutcodit">
    <p class="menu"><i class="fa fa-circle-o" aria-hidden="true"></i> 동아리 소개</p>
  </a>
</div>
