<!DOCTYPE html>
<html lang="ko">
<head>
  <%= css :application %>
  <%= js :application %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>CodIT x 행신제</title>
</head>
<body>
  <div class="container">
    <div id="content">
      <%= yield %>
    </div>
    <h3><a href="/">홈</a> | <a href="/map">부스 배치도</a> | <a href="/works">works</a> | <a href="/about">대하여</a></h3>
    <h5>CodIT 2016 / 소프트웨어, 세상을 변화시키다</h5>
  </div>
</body>
</html>
