<img style="width: auto; height: auto; max-width: 100%;" src="/images/bitcoin.png"></img>
<h2 style="line-height: 120%;">등불을 밝혀 어둠을 조금 내몰고</h2>
<br/>
<p style="line-height: 120%;">이 페이지를 <ruby>코딧랜드<rt>부스</rt></ruby>로 가져오시면<br/>코인을 무료로 드립니다!</p>
<p style="line-height: 120%;">교내에서 나머지 홍보지도 찾아보세요! (총 6개)</p>
